
<div class="row row-cols-1 row-cols-md-3">
  <style type="text/css">
    h5{
      font-family : 'NanumSquareAceb';
    }
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 350px;
      font-family : 'NanumSquareAcr';
    }
    a {
      font-family : 'NanumSquareLight';
    }
    


  </style>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=7936a4cb-a093-483e-960f-1adce33099a1" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">웅도</h5>
        <p class="card-text">웅도는 본래 서산군 지곡면의 관할지역에 편입되어 있었는데 1914년 행정구역 개편시</p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail01" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=ca836f5b-ffec-4bfe-903f-a2b7854cb213" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">낙강물길공원</h5>
        <p class="card-text">한국의 지베르니라고 불리는 낙강물길공원은 안동 비밀의 숲이라고도 불린다.</p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail02" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=599b3bfc-bf39-46e3-8684-ffd02ce932b6" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">송도 센트럴파크</h5>
        <p class="card-text">바다를 메워 만든 인공 섬 송도는 도회적인 이미지의 상징이 되었다.</p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail03" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row row-cols-1 row-cols-md-3">
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=d7d0c07e-473f-4b38-8c5c-21c2078a8128" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">바람새마을 소풍정원</h5>
        <p class="card-text">소풍정원은 2013년 평택시 고덕면 궁리에 조성된 수변공원이다.</p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail04" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=327aae1e-fd82-4519-b61c-e103c0e356a1" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">잣향기푸른숲</h5>
        <p class="card-text">경기도 잣향기푸른숲은 수령(樹齡) 80년 이상의 잣나무림이 국내 최대로 분포하고 있으며,</p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail05" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=aa84626f-fc37-4413-ba88-3846cf270a93" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">동두천자연휴양림</h5>
        <p class="card-text">2020년 7월 1일에 개장하였으며, 전 연령이 즐길 수 있는 다양한 숲속 체험이 가능한 자연친화 복합휴양체험 공간이다. </p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail06" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row row-cols-1 row-cols-md-3">
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=729084ea-2511-4500-8a94-ba26a00d635e" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">등기산스카이워크</h5>
        <p class="card-text">등기산 스카이워크는 20m의 높이에 135m의 길이로 조성된 곳으로 그중 57m의 강화유리 바닥 구간은 스릴을 즐기기에 매우 좋다.</p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail07" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=34515764-2275-451d-b90c-15a2d2877a8d" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">진남교반</h5>
        <p class="card-text">문경은 경상북도 북쪽의 울타리이다. </p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail08" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=fde15385-f534-4010-8115-2511dd02b98a" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">수선사</h5>
        <p class="card-text">지리산 웅석봉 아래 자리 잡은 산청 수선사는 전통문화와 자연환경 그리고 현대 감성이 공존하는 특별한 공간이다.</p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail09" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row row-cols-1 row-cols-md-3">
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=c2da08e0-eb79-4cfd-bdb2-7297443a57cc" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">굴업도</h5>
        <p class="card-text">굴업도는 한국의 갈라파고스로 불리며, 떼묻지 않은 신비한 섬이다. </p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail10" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=fd0043ef-35a2-40b4-b8e6-985e98d77ddf" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">석모도</h5>
        <p class="card-text">석모도는 강화군 외포항에서 서쪽으로 1.2km 떨어진 섬으로 수도권 시민들에게 휴식처로 널리 알려진 유명한 관광지며,한반도와 강화도 섬을 잇는 강화대교와 초지대교 적분에 아이들과함께 나들이 떠나기 좋은 곳으로 찾는 이들이 많다. </p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail11" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
