
<div class="row row-cols-1 row-cols-md-3 g-4">
  <style type="text/css">
    h5{
      font-family : 'NanumSquareAceb';
    }
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 350px;
      font-family : 'NanumSquareAcr';
    }
    a {
      font-family : 'NanumSquareLight';
    }
    
  </style>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="/static/detail_accom/01_01.jpeg" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">서산호텔</h5>
        <p class="card-text">서산호텔은 이 지역에서 오랫동안 사랑받아온 호텔이다.</p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail_acc01" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="/static/detail_accom/02_01.jpeg" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">케이스호텔((주)안동케이스)</h5>
        <p class="card-text">안동역과 안동터미널에서 차로 15분 거리에 있는 8층 규모의 호텔이다.</p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail_acc02" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="/static/detail_accom/03_01.jpeg" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">라마다인천호텔</h5>
        <p class="card-text">라마다인천호텔은 인천 도심과 소래포구가 바라보이는 곳에 위치한 호텔이다. </p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail_acc03" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="/static/detail_accom/04_01.jpeg" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">그랜드팰리스코퍼레이션 하버지점</h5>
        <p class="card-text">라마다 평택 호텔(주식회사 그랜드팰리스코퍼레이션 하버지점)은 윈덤호텔그룹(Wyndham Group)의 글로벌 브랜드 호텔이다. </p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail_acc04" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="/static/detail_accom/05_01.jpeg" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">더 스테이호텔</h5>
        <p class="card-text">더 스테이호텔은 물 맑고 산 높은 가평읍 보납로에 자리한다.</p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail_acc05" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="/static/detail_accom/06_01.jpeg" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">연천세계캠핑체험존(펜션)</h5>
        <p class="card-text">연천세계캠핑체험존은 펜션형 숙박 시설로 경기도 연천군 전곡읍 한탄강관광지 안에 있다.  </p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail_acc06" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="/static/detail_accom/07_01.jpeg" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">백암스프링스호텔</h5>
        <p class="card-text">경북 울진군 백암온천관광특구 내 위치한 백암스프링스호텔은 역사가 깊다. </p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail_acc07" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="/static/detail_accom/08_01.jpeg" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">송계헌</h5>
        <p class="card-text">경북 안동의 병산서원에서 불과 500m 떨어진 곳에 위치한 한옥이다.  </p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail_acc08" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="/static/detail_accom/09_01.jpeg" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">산청율수원</h5>
        <p class="card-text">자연과 벗하는 사람들의 행복한 얼굴을 꿈꾸는 전통 한옥 숙박 공간 산청율수원이 2013년 10월 문을 열었다.</p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail_acc09" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="height:25rem;">
      <img src="/static/detail_accom/10_01.jpeg" class="card-img-top" style="height:16rem; alt="...">
      <div class="card-body">
        <h5 class="card-title">자미궁</h5>
        <p class="card-text">굴업도는 한국의 갈라파고스로 불리며, 떼묻지 않은 신비한 섬이다. </p>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a href="/detail_acc10" class="btn btn-outline-dark">더보기</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
