
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }

    body{
        height:600px;
        background-image: url('static/detail/03.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }

</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-1 ">
                    라마다인천호텔
                    <br><small class="display-6 text-muted">인천광역시 / 남동구</small>
                </h1>
                <h5>
                    라마다인천호텔은 인천 도심과 소래포구가 바라보이는 곳에 위치한 호텔이다. 
                </h5>

                <p> 250여 개 객실이 있으며 온돌 객실, 조리시설과 식기류가 준비된 레지덴셜 객실, 어린이를 위한 키즈 객실 등 다양한 주제의 객실이 있다. 일부 객실에는 욕조가 설치돼 있다. 호텔 안에 2개의 회의실과 비즈니스센터, 피트니스센터가 있어 이용 가능하다. 3층에 위치한 글로리홀에서 조식 뷔페가 제공된다. 17층 스카이라운지 바인 볼란테는 낭만적인 야경 명소다. 개별적으로 이용할 수 있는 코인 세탁실도 있다. 수인분당선 소래포구역 2번 출구에서 걸어서 5분 거리에 위치한 호텔은 소래포구 어시장을 옆에 끼고 있다. 월곶포구(경기도 시흥시 소재), 소래습지생태공원, 송도센트럴파크, 인천대공원, 인천국제공항 등과도 가까워 관광객과 회사원, 가족 단위 등 모든 고객이 편리하게 이용할 수 있다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>문의 및 안내</strong>
                    <span class="mo">
                    <a href="tel:032-460-1100">032-460-1100</a></span>
                </li>
                <li>
                    <strong>홈페이지</strong>
                    <span><a href="http://www.ramadaincheon.com" target="_blank" title="새창 :라마다인천호텔 홈페이지로 이동">www.ramadaincheon.com</a></span>
                </li>
                <li>
                    <strong>주소</strong>
                    <span>인천광역시 남동구 소래역로 36</span>
                </li>
                <li>
                    <strong>주차</strong>
                    <span>가능</span>
                </li>
                <li>
                    <strong>수용인원</strong>
                    <span>550명</span>
                </li>
                <li>
                    <strong>입실시간</strong>
                    <span>15:00</span>
                </li>
                <li>
                    <strong>퇴실시간</strong>
                    <span>11:00</span>
                </li>
                <li>
                    <strong>객실내 취사 여부</strong>
                    <span>불가(레지덴셜 객실은 가능)</span>
                </li>
                <li>
                    <strong>식음료장</strong>
                    <span>있음(글로리홀, 코로나로 운영 중단 중(운영 여부 별도 문의 필요(032-460-1100))</span>
                </li>
                <li>
                    <strong>픽업서비스</strong>
                    <span>가능(공항에서 픽업, 유료, 4인 50,000원, 인원추가 시 1인 10,000원, 최대 14명 가능)</span>
                </li>
                <li>
                    <strong>객실수</strong>
                    <span>250실</span>
                </li>
                <li>
                    <strong>예약안내</strong>
                    <span>전화, 홈페이지</span>
                </li>
                <li>
                    <strong>예약안내 홈페이지</strong>
                    <span>
                        <a href='https://be.wingsbooking.com/ko/RIH1?"' target="_blank" title="새창 :라마다인천호텔 홈페이지로 이동">be.wingsbooking.com/ko/RIH1?</a>
                    </span>
                </li>
                <li>
                    <strong>객실유형</strong>
                    <span>침실</span>
                </li>
                <li>
                    <strong>규모</strong>
                    <span>건물 지하 4층, 지상 17층</span>
                </li>
                <li>
                    <strong>부대시설</strong>
                    <span>코인세탁실</span>
                </li>
                <li>
                    <strong>휘트니스 센터 여부</strong>
                    <span>있음</span>
                </li>
                <li>
                    <strong>공용 PC실 여부</strong>
                    <span>있음</span>
                </li>
                <li>
                    <strong>세미나실 여부</strong>
                    <span>있음</span>
                </li>
                <li>
                    <strong>점자블록</strong>
                    <span>점자유도로 있음_시각장애인 편의시설</span>
                </li>
                <li>
                    <strong>엘리베이터</strong>
                    <span>엘리베이터 있음</span>
                </li>
                <li>
                    <strong>출입통로</strong>
                    <span>주출입구는 턱이 없어 휠체어 접근 가능함(자동문)</span>
                </li>
                <li>
                    <strong>안내요원</strong>
                    <span>안내요원 있음</span>
                </li>
                <li>
                    <strong>지체장애 기타상세</strong>
                    <span>장애인 욕실 있음</span>
                </li>
                <li>
                    <strong>장애인 주차 안내</strong>
                    <span>장애인 주차장 있음_무장애 편의시설</span>
                </li>
                <li>
                    <strong>접근로</strong>
                    <span>출입구까지 턱이 없어 휠체어 접근 가능함</span>
                </li>
                <li>
                    <strong>객실</strong>
                    <span>장애인 객실 있음</span>
                </li>
            </ul>
        </div>
    </div>
</body>