
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }

    body{
        height:600px;
        background-image: url('static/detail/05.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }

</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-1 ">
                    더 스테이호텔
                    <br>
                    <small class="display-6 text-muted">경기도 / 가평군</small>
                </h1>
                <h5>
                    더 스테이호텔은 물 맑고 산 높은 가평읍 보납로에 자리한다. 
                </h5>
                <p>가평천과 북한강이 만나고, 보납산(329m)이 뒤를 받친 아늑한 위치다. 호텔에서 반경 2km 안에 가평군청, 가평시장 같은 편의시설뿐 아니라 경춘선 가평역과 가평터미널이 있어 대중교통을 이용한 접근성이 좋다. 가평의 대표 여행지들도 가깝다. 매년 재즈페스티벌이 열리는 자라섬까지는 차로 4분, 2017년 한국관광의별 생태관광자원 부문에 선정된 춘천 남이섬까지는 차로 10분이면 닿을 수 있다. 지상 3층 규모의 더 스테이호텔은 한실, 특한실, 트윈룸, 스탠더드 등 4개 타입의 23개 객실을 갖췄다. 한실에 다리 짧은 더블침대를 비치한 점이 특징이다. 스탠더드 객실 16개 가운데 3개 객실에는 PC가 설치됐으며, 다른 객실과 달리 화장실을 욕조형으로 꾸몄다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>문의 및 안내</strong>
                    <span class="mo"><a href="tel:031-581-5711">031-581-5711</a></span>
                    <span class="pc">031-581-5711</span>
                </li>
                <li>
                    <strong>주소</strong>
                    <span>경기도 가평군 가평읍 보납로 73</span>
                </li>
                <li>
                    <strong>주차</strong>
                    <span>주차 가능(20대)</span>
                </li>
                <li>
                    <strong>수용인원</strong>
                    <span>53명</span>
                </li>
                <li>
                    <strong>입실시간</strong>
                    <span>18:00</span>
                </li>
                <li>
                    <strong>퇴실시간</strong>
                    <span>12:00</span>
                </li>
                <li>
                    <strong>객실내 취사 여부</strong>
                    <span>불가</span>
                </li>
                <li>
                    <strong>식음료장</strong>
                    <span>있음</span>
                </li>
                <li>
                    <strong>픽업서비스</strong>
                    <span>불가</span>
                </li>
                <li>
                    <strong>객실수</strong>
                    <span>23실</span>
                </li>
                <li>
                    <strong>예약안내</strong>
                    <span>031-581-5711</span>
                </li>
                <li>
                    <strong>규모</strong>
                    <span>지상 3층</span>
                </li>
                <li>
                    <strong>부대시설</strong>
                    <span>식음료장(카페)에서 커피 무료 제공</span>
                </li>
                <li>
                    <strong>엘리베이터</strong>
                    <span>엘리베이터 있음</span>
                </li>
                <li>
                    <strong>장애인 주차 안내</strong>
                    <span>장애인 주차장 있음_무장애 편의시설</span>
                </li>
            </ul>
        </div>
    </div>
</body>