
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }

    body{
        height:600px;
        background-image: url('static/detail/05.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }

</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-1 ">
                    잣향기푸른숲
                    <br>
                    <small class="display-6 text-muted">경기도 / 가평군</small>
                </h1>
                <h5>
                </h5>
                <p>경기도 잣향기푸른숲은 수령(樹齡) 80년 이상의 잣나무림이 국내 최대로 분포하고 있으며, 피톤치드 가득한 쾌적한 잣나무숲에서 숲체험과 산림치유 프로그램을 복합적으로 체험할 수 있는 특별한 산림휴양 공간이다. 축령산과 서리산 자락 해발 450~600에 위치하고 있는 경기도 잣향기푸른숲은 수령80년 이상의 잣나무가 국내 최대로 분포하고 있는 곳이다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>문의 및 안내</strong>
                    <span class="mo">
                        <a href="tel:031-8008-6769">031-8008-6769</a>
                    </span>
                    <span class="pc">031-8008-6769</span>
                </li>
                <li>
                    <strong>홈페이지</strong>
                    <span>
                        <a href="http://farm.gg.go.kr/sigt/89" target="_blank" title="새창 : 잣향기푸른숲 사이트로 이동">http://farm.gg.go.kr</a>
                    </span>
                </li>
                <li>
                    <strong>주소</strong>
                    <span>경기도 가평군 상면 축령로 289-146</span>
                </li>
                <li>
                    <strong>이용시간</strong>
                    <span>운영시간 : 09:00~18:00 (동절기 17:00까지)
                입장마감시간 : 09:00~17:00 (동절기 16:00까지)</span>
            </li>
            <li>
                <strong>휴일</strong>
                <span>매주 월요일</span>
            </li>
            <li>
                <strong>주차</strong>
                <span>있음</span>
            </li>
            <li>
                <strong>입 장 료</strong>
                <span>어른(19세 이상~64세 이하) - 개인 1,000원 / 단체 800원<br/>
                청소년(13세 이상~18세 이하)·군인 - 개인 600원 / 단체 500원<br/>
                어린이(7세 이상~12세 이하) - 개인 300원 / 단체 200원<br/>
                ※ 단체 - 30인이상<br/>
                ※ 무료 - 6세이하, 65세 이상, 경기아이플러스카드 명의자와 동반가족, 「산림문화·휴양에 관한 법률 시행령 제8조 제2항 규정」에 해당하는사람</span>
            </li>
            <li>
                <strong>장애인 주차 안내</strong>
                <span>장애인 전용 주차구역 있음(상부주차장 1대)_무장애 편의시설</span>
            </li>
            <li>
                <strong>접근로</strong>
                <span>출입구까지 단차가 없어 휠체어 접근 가능함</span>
            </li>
            <li>
                <strong>화장실</strong>
                <span>장애인 전용 화장실 있음(매표소 쪽 화장실)</span>
            </li>
        </ul>
                
        </div>
        </div>
    </div>
</body>