
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }

    body{
        height:600px;
        background-image: url('static/detail/06.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }
</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-1 ">
                    동두천자연휴양림
                    <br>
                    <small class="display-6 text-muted">경기도 / 동두천시</small>
                </h1>
                <h5>
                </h5>
                <p>2020년 7월 1일에 개장하였으며, 전 연령이 즐길 수 있는 다양한 숲속 체험이 가능한 자연친화 복합휴양체험 공간이다. 소나무를 바라보며 프라이빗한 휴식을 취할 수 있는 독채펜션 ‘숲속의 집’과 4인~20인까지 숙박이 가능한 콘도 형태의 산림휴양관, 숲 속 감성캠핑을 즐길 수 있는 야외 캠핑장, 숲에 대한 다양한 체험을 해보는 유아숲체험원과 플리마켓, 자연을 있는 그대로 이용한 트리 클라이밍, 자연휴양림 목공체험, 숲 영화관이 운영될 넓은 잔디광장 등 다양한 생태체험 프로그램들을 운영한다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>문의 및 안내</strong>
                    <span class="mo"><a href="tel:031-860-3259">031-860-3259</a></span>
                </li>
                <li>
                    <strong>홈페이지</strong>
                    <span><a href="https://foresttrip.go.kr/indvz/main.do?hmpgId=ID02030023" style="" title="새창 : 동두천자연휴양림 홈페이지로 이동">https://foresttrip.go.kr/indvz/main.do?hmpgId=ID02030023</a>
                    </span>
                </li>
                <li>
                    <strong>주소</strong>
                    <span>경기도 동두천시 탑동가산로 1</span>
                </li>
                <li>
                    <strong>이용시간</strong>
                    <span>당일입장 9:00~18:00<br/>숙박시설 24시간 운영<br/>※ 매주 월요일 휴무, 성수기(7~8월) 휴무 없음<br/>입실시간 15:00<br/>퇴실시간 11:00</span>
                </li>
                <li>
                    <strong>휴일</strong>
                    <span>매주 월요일 휴무</span>
                </li>
                <li>
                    <strong>입 장 료</strong>
                    <span>성인 2,000원, 청소년 및 군인 1,500원, 아동 1,000원</span>
                </li>
                <li>
                    <strong>점자블록</strong>
                    <span>점자블록 있음(주출입구)_시각장애인 편의시설</span>
                </li>
                <li>
                    <strong>출입통로</strong>
                    <span>주출입구는 턱이 없어 휠체어 접근 가능함(수동문)</span>
                </li>
                <li>
                    <strong>지체장애 기타상세</strong>
                    <span>무장애 산책로, 장애인 샤워실 있음</span>
                </li>
                <li>
                    <strong>보조견동반</strong>
                    <span>동반가능(보조견 표지 부착)</span>
                </li>
                <li>
                    <strong>장애인 주차 안내</strong>
                    <span>장애인 주차장 있음(2대)_무장애 편의시설</span>
                </li>
                <li>
                    <strong>접근로</strong>
                    <span>출입구까지 턱이 없어 휠체어 접근 가능함</span>
                </li>
                <li>
                    <strong>객실</strong>
                    <span>장애인 객실 있음</span>
                </li>
            </ul>
        </div>
    </div>
</body>