
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }
    body{
        height:600px;
        background-image: url('static/detail/10.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }

</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-1 ">
                    자미궁
                    <small class="display-6 text-muted">인천 / 서구</small>
                </h1>
                <h5>
                    ‘옥황상제가 사는 궁궐’이라는 뜻을 지닌 자미궁은 인천 원당동에 위치한 전통 한옥 체험 업소이다. 
                </h5>

                <p>나무 향기와 흙냄새가 피어오르는 건물 곳곳에는 대목장의 손길이 스며 있다. 무려 1년 6개월 동안 나무를 깎아 건조하는 과정을 거쳤으며 건물 내부는 담양 대나무를 엮어 황토로 마감하고 한지로 도배했다. 문화재 개보수에 사용하는 고령 기와를 얹은 담장에도 장인의 솜씨가 묻어난다. 객실은 가온방, 미르방, 라온방, 다솜방, 한울방 등 6개로 2인실부터 15인실을 두었다. 창호지를 바른 미닫이문, 전통 고가구와 도자기, 한국화 등의 소품을 배치한 객실은 고풍스러운 분위기를 풍긴다. 마당에 늘어선 장독대와 텃밭, 우거진 나무와 계절마다 피고 지는 다양한 야생화가 한옥의 멋을 거든다. 부대시설로는 공용 욕실, 세미나실, 공용 PC, 공용 냉장고가 마련되어 있다. 외국인 손님을 위한 영어, 중국어 응대가 가능하며 무료 조식 서비스를 제공한다. 반려견은 소형견만 허용된다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>문의 및 안내</strong>
                    <span class="mo"><a href="tel:032-567-1188">032-567-1188</a></span>
                    <span class="pc">032-567-1188</span>
                </li>
                <li>
                    <strong>홈페이지</strong>
                    <span><a href="https://jamigung.modoo.at" target="_blank">https://jamigung.modoo.at</a><a></a></span>
                </li>
                <li>
                    <strong>주소</strong>
                    <span>인천광역시 서구 원당대로819번길 38</span>
                </li>
                <li>
                    <strong>주차</strong>
                    <span>가능</span>
                </li>
                <li>
                    <strong>수용인원</strong>
                    <span>30명</span>
                </li>
                <li>
                    <strong>입실시간</strong>
                    <span>14:00</span>
                </li>
                <li>
                    <strong>퇴실시간</strong>
                    <span>11:00</span>
                </li>
                <li>
                    <strong>객실내 취사 여부</strong>
                    <span>불가능</span>
                </li>
                <li>
                    <strong>식음료장</strong>
                    <span>있음</span>
                </li>
                <li>
                    <strong>픽업서비스</strong>
                    <span>불가능</span>
                </li>
                <li>
                    <strong>객실수</strong>
                    <span>6</span>
                </li>
                <li>
                    <strong>예약안내</strong>
                    <span>032-567-1188</span>
                </li>
                <li>
                    <strong>예약안내 홈페이지</strong>
                    <span><a href="https://jamigung.modoo.at/?link=c5h5nlg9" target="_blank">https://jamigung.modoo.at/?link=c5h5nlg9</a><a></a></span>
                </li>
                <li>
                    <strong>규모</strong>
                    <span>231㎡</span>
                </li>
                <li>
                    <strong>부대시설</strong>
                    <span>공용화장실, 공용냉장고</span>
                </li>
                <li>
                    <strong>공용 샤워실 여부</strong>
                    <span>있음</span>
                </li>
                <li>
                    <strong>공용 PC실 여부</strong>
                    <span>있음</span>
                </li>
                <li>
                    <strong>세미나실 여부</strong>
                    <span>있음</span>
                </li>
            </ul>
        </div>
    </div>
</body>