
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }

    body{
        height:600px;
        background-image: url('static/detail/10.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }

</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-1 ">
                    굴업도
                    <small class="display-6 text-muted">인천 / 옹진군</small>
                </h1>
                <h5>
                    굴업도는 한국의 갈라파고스로 불리며, 때묻지 않은 신비한 섬이다. 
                </h5>

                <p>한국인이 꼭 한번은 가봐야 여행지로 격찬을 아끼지 않은 수식어가 딸린 곳으로 매우 아름다운 섬이다. 관광지로는 굴업해변과 선착장이 있으며 인구가 많지 않아서 편의시설이 사실상 거의 없다. 섬 대부분이 산지로 둘러싸여있어서 자연적인 분위기가 강하여 인공적인 시설은 드물거나 없는 편이다. 하지만 덕분에 천혜의 수려한 자연환경이 고스란히 남아있고, 불빛이 적어 여름밤에는 은하수를 고스란히 감상할 수 있어 개머리 언덕을 중심으로 캠핑족들의 발길이 끊이지 않고 있는 곳이다.전체 주민이 20명이 채 되지 않는 작은 섬으로 주요 관광지로는 덕물산, 연평산, 개머리언덕, 토끼섬, 코끼리바위 등이 유명하며 굴업해수욕장과 목기미해수욕장 2개의 해수욕장을 가지고 있다.자연 그대로의 넓은 목초지대, 다채로운 해안선, 산 위에서 바라보는 섬과 바다의 풍경 등이 아름답기 때문에 사진작가나 백패커(배낭여행족)에게 큰 인기를 끌고 있는 곳이다.하늘과 바다와 초원을 한번에 감상할 수 있는 굴업도는 한국의 갈라파고스라는 수식어가 부족하게 느껴질 정도로 멋진 풍경을 자랑한다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>문의 및 안내</strong>
                    <span class="mo"><a href="tel:032-899-3710">032-899-3710</a></span>
                </li>
                <li>
                    <strong>홈페이지</strong>
                    <span><a href="https://www.ongjin.go.kr/open_content/tour/information/island_guleop.jsp?cate1=deokjeok&amp;cate2=09" target="_blank" title="옹진 문화관광 사이트로 이동">http://www.ongjin.go.kr</a></span>
                </li>
                <li>
                    <strong>주소</strong>
                    <span>인천 옹진군 덕적면 굴업리</span>
                </li>
            </ul>
        </div>
    </div>
</body>