
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }

    body{
        height:600px;
        background-image: url('static/detail/04.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }

</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-3">
                    그랜드팰리스코퍼레이션 하버지점
                    <br>
                    (주식회사 그랜드팰리스코퍼레이션 하버지점)
                    <br>
                    <small class="display-6 text-muted">경기도 / 평택시</small>
                </h1>
                <h5>
                    라마다 평택 호텔(주식회사 그랜드팰리스코퍼레이션 하버지점)은 윈덤호텔그룹(Wyndham Group)의 글로벌 브랜드 호텔이다. 
                </h5>

                <p>라마다 평택 호텔은 서평택 IC에서 3분 거리에 위치하며 지하 4층, 지상 17층 규모로 총 476개 객실을 갖췄다. 총 8개 객실 타입을 보유하고 있다. 객실은 차분한 조명 아래 모던하고 심플하게 꾸몄다. 1층 로비에는 편의점이 자리하고 최고층인 17층에는 도심 전경을 내다볼 수 있는 테라스 루프톱을 운영한다. 특히 16층에는 16층 투숙객만을 위한 스카이라운지 킹케이드도 마련해 특별함을 워하는 사람들의 눈높이에도 맞췄다. 24시간 운영하는 비즈니스센터와 세탁실, 오전 6시부터 오후 10시까지 이용할 수 있는 피트니스센터를 갖췄다. 지하 1층에 자리한 키즈 클럽은 가족 투숙객에게 인기가 좋다. 목공놀이, 빛체험 놀이, 테라리움 등 시간별로 창의예술 수업이 진행되며 아이들의 오감 발달과 자신감을 길러줄 시설을 마련했다. 호텔 안에서 모든 것을 해결할 수 있는 부대시설을 갖추고 있어 머무는 내내 편안함을 선사한다. 사시사철 다채로운 프로모션을 진행하니 방문 전 홈페이지나 전화로 문의하면 상세한 설명을 안내받을 수 있다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>문의 및 안내</strong>
                    <span class="mo"><a href="tel:031-220-7800">031-220-7800</a></span>
                    <span class="pc">031-220-7800</span>
                </li>
                <li>
                    <strong>홈페이지</strong>
                    <span><a href="http://www.ramadapyeongtaek.com/" target="_blank" title="새창 : 라마다평택호텔 홈페이지로 이동">http://www.ramadapyeongtaek.com/</a></span>
                </li>
                <li>
                    <strong>주소</strong>
                    <span>경기도 평택시 포승읍 평택항로184번길 3-24</span>
                </li>
                <li>
                    <strong>주차</strong>
                    <span>가능(104대)</span>
                </li>
                <li>
                    <strong>수용인원</strong>
                    <span>1173명</span>
                </li>
                <li>
                    <strong>입실시간</strong>
                    <span>15:00</span>
                </li>
                <li>
                    <strong>퇴실시간</strong>
                    <span>11:00</span>
                </li>
                <li>
                    <strong>객실내 취사 여부</strong>
                    <span>불가</span>
                </li>
                <li>
                    <strong>식음료장</strong>
                    <span>있음(카페, 조식 식당)</span>
                </li>
                <li>
                    <strong>픽업서비스</strong>
                    <span>가능(사전 문의 필수)</span>
                </li>
                <li>
                    <strong>객실수</strong>
                    <span>476실</span>
                </li>
                <li>
                    <strong>예약안내</strong>
                    <span>031-220-7800</span>
                </li>
                <li>
                    <strong>예약안내 홈페이지</strong>
                    <span>
                        <a href="http://www.ramadapyeongtaek.com/" target="_blank" title="새창 : 라마다평택호텔 홈페이지로 이동">http://www.ramadapyeongtaek.com/</a>
                    </span>
                </li>
                <li>
                    <strong>규모</strong>
                    <span>지하 4층, 지상 17층</span>
                </li>
                <li>
                    <strong>부대시설</strong>
                    <span>휴게실(EFL Lounge, 전자렌지 구비), 편의점(1층)</span>
                </li>
                <li>
                    <strong>휘트니스 센터 여부</strong>
                    <span>있음</span>
                </li>
                <li>
                    <strong>노래방 여부</strong>
                    <span>있음</span>
                </li>
                <li>
                    <strong>공용 PC실 여부</strong>
                    <span>있음</span>
                </li>
                <li>
                    <strong>세미나실 여부</strong>
                    <span>있음</span>
                </li>
                <li>
                    <strong>스포츠 시설  여부</strong>
                    <span>있음</span>
                </li>
                <li>
                    <strong>점자블록</strong>
                    <span>점자블록 있음</span>
                </li>
                <li>
                    <strong>장애인 주차 안내</strong>
                    <span>장애인 전용 주차구역 있음</span>
                </li>
                <li>
                    <strong>접근로</strong>
                    <span>출입문 접근로 있음</span>
                </li>
                <li>
                    <strong>화장실</strong>
                    <span>장애인 객실 내 장애인 화장실 있음</span>
                </li>
                <li>
                    <strong>객실</strong>
                    <span>장애인 객실 있음</span>
                </li>
            </ul>
        </div>
    </div>
</body>