
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }

    body{
        height:600px;
        background-image: url('static/detail/08.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }
</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-1 ">
                    진남교반
                    <small class="display-6 text-muted">경북 / 문경</small>
                </h1>
                <h5>
                    문경은 경상북도 북쪽의 울타리이다. 
                </h5>

                <p>태백산에서 이어진 대미산, 주흘산, 희양산 같은 고봉들이 충북과 경북의 경계를 이루고 있다. 기암괴석과 깎아지른 듯한 층암절벽이 이어지고 강 위로 철교·구교·신교 등 3개의 교량이 나란히 놓여 있어 자연과 인공의 조화를 이루며, 이 절경으로 경북팔경 중 제1경으로 꼽힌다. 또한 영강의 기암괴석과 원삼국시대의 성으로 추정되는 고모산성, 고부산성이 어우러져 빼어난 경치를 자랑하고 있다.1933년 1월 대구일보사 주최 경상북도 내 명승지 결정에서 1등으로 지정되어 "경북 팔경 중 제1"이라는 비석이 있는 곳이다. 고모산성 아래에 강변 따라 솟아오른 층암 절벽 허리깨를 감아도는 옛 사다리길이 불정역 동변 기슭까지 희미하게 이어져 있는데 이 길이 관갑천 또는 토천이라 한다.현재에는 낙동강 지류인 가은천과 조령천이 영강에 합류하였다가 돌아나가는 지점으로, 아름드리 노송이 우거진 숲 앞으로 넓은 모래사장이 펼쳐지고 주차장·휴게소·인공폭포 등이 마련되어 있어 여름철 휴양지로 사람들이 많이 찾는 곳이다. 영강은 함창읍 동쪽에서 낙동강으로 흘러들어간다. 문경선 철교가 주변 풍치의 멋을 더해주고 있다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>문의 및 안내</strong>
                    <span class="mo"><a href="tel:054-550-6393">054-550-6393</a></span>
                </li>
                <li>
                    <strong>홈페이지</strong>
                    <span><a href="https://www.gbmg.go.kr/tour/contents.do?mId=0201050000" target="_blank" title="새창 : 문경 문화관광 홈페이지로 이동">http://www.gbmg.go.kr/tour/main.do</a></span>
                </li>
                <li>
                    <strong>주소</strong>
                    <span>경상북도 문경시 마성면 신현리</span>
                </li>
            </ul>
        </div>
        </div>
    </div>
</body>