
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }

    body{
        height:600px;
        background-image: url('static/detail/09.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }

</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-1 ">
                    수선사
                    <small class="display-6 text-muted">경남 / 산청군</small>
                </h1>
                <h5>
                </h5>

                <p>지리산 웅석봉 아래 자리 잡은 산청 수선사는 전통문화와 자연환경 그리고 현대 감성이 공존하는 특별한 공간이다. 수선사는 정갈하면서도 단아한 풍경을 자랑하는데, 특히 연못과 정원이 아름다운 사찰로서 사람들에게 마음의 안식처이자, 힐링할 수 있는 장소로 알려져 있다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>문의 및 안내</strong>
                    <span class="mo"><a href="tel:055-973-1096">055-973-1096</a></span>
                </li>
                <li>
                    <strong>홈페이지</strong>
                    <span>수선사 <a href="https://susunsa.modoo.at/" target="_blank" title="새창: 수선사 홈페이지로 이동">https://susunsa.modoo.at/</a><br/>산청 문화관광 <a href="https://www.sancheong.go.kr/tour/index.do" target="_blank" title="새창 : 산청 문화관광 홈페이지로 이동">https://www.sancheong.go.kr/tour/index.do</a></span>
                </li>
                <li>
                    <strong>주소</strong>
                    <span>경상남도 산청군 산청읍 웅석봉로154번길 102-23</span>
                </li>
                <li>
                    <strong>이용시간</strong>
                    <span>09:00~19:00</span>
                </li>
                <li>
                    <strong>휴일</strong>
                    <span>연중개방</span>
                </li>
                <li>
                    <strong>주차</strong>
                    <span>주차가능</span>
                </li>
                <li>
                    <strong>입 장 료</strong>
                    <span>무료</span>
                </li>
            </ul>
        </div>
    </div>
</body>