
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }

    body{
        height:600px;
        background-image: url('static/detail/06.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }
</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-4">
                    연천세계캠핑체험존(펜션)
                    <br>
                    <small class="display-6 text-muted">경기도 / 연천군</small>
                </h1>
                <h5>
                    연천세계캠핑체험존은 펜션형 숙박 시설로 경기도 연천군 전곡읍 한탄강관광지 안에 있다. 
                </h5>
                <p>펜션은 길 하나를 사이에 두고 임진펜션동과 한탄펜션동 두 구역으로 나뉜다. 임진펜션동은 모두 5개 동으로 1‧2‧3호는 4인용, 4호는 6인용, 5호는 8인용 객실이다. 4호만 복층형 구조다. 모두 복층으로 된 한탄펜션동도 5개 동을 운영하고 있다. 1‧2‧3호는 4인용, 4호는 6인용, 5호는 8인용 객실이다. 4인용 객실은 침대방과 욕실이 1개씩 있고, 6인‧8인용 객실은 침대방과 욕실이 2개씩 있다. 펜션 건물마다 야외 덱과 야외용 탁자, 전용 주차공간이 딸려 있다. 4인‧6인용 펜션동은 1대, 8인용 펜션동은 2대까지 주차할 수 있다. 조리시설과 식기류는 구비돼 있지만 세면도구는 개인이 준비해야 한다. 숙소 예약은 한 사람이 하루에 2건까지 할 수 있다. 지역주민 할인, 다자녀가정 할인 등 다양한 할인제도를 마련했으니 해당 사항이 있는지 눈여겨보자. 물놀이장은 7~8월 한시적으로 개방한다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>문의 및 안내</strong>
                    <span class="mo">
                        <a href="tel:031-835-7100">031-835-7100</a>
                    </span>
                </li>
                <li><strong>홈페이지</strong>
                    <span><a href="https://www.yccs.or.kr/sisul/sisul_01_3_1" target="_blank" title="새창 :연천세계캠핑체험존(펜션) 홈페이지로 이동">www.yccs.or.kr/sisul/sisul_01_3_1</a></span>
                </li>
                <li>
                    <strong>주소</strong>
                    <span>경기도 연천군 전곡읍 선사로 123</span>
                </li>
                <li>
                    <strong>주차</strong>
                    <span>가능(객실당 1대, 8인 객실은 2대까지 가능)</span>
                </li>
                <li>
                    <strong>수용인원</strong>
                    <span>52명</span>
                </li>
                <li>
                    <strong>입실시간</strong>
                    <span>14:00</span>
                </li>
                <li>
                    <strong>퇴실시간</strong>
                    <span>11:00</span>
                </li>
                <li>
                    <strong>객실내 취사 여부</strong>
                    <span>가능</span>
                </li>
                <li>
                    <strong>식음료장</strong>
                    <span>있음(카페테리아)</span>
                </li>
                <li>
                    <strong>픽업서비스</strong>
                    <span>불가</span>
                </li>
                <li>
                    <strong>객실수</strong>
                    <span>10동</span>
                </li>
                <li>
                    <strong>예약안내</strong>
                    <span>전화, 홈페이지</span>
                </li>
                <li>
                    <strong>예약안내 홈페이지</strong>
                    <span><a href="https://www.yccs.or.kr/res/g_sisul1_03" target="_blank" title="새창 :연천세계캠핑체험존(펜션) 홈페이지로 이동">www.yccs.or.kr/res/g_sisul1_03</a></span>
                </li>
                <li>
                    <strong>객실유형</strong>
                    <span>4인용, 6인용, 8인용</span>
                </li>
                <li>
                    <strong>규모</strong>
                    <span>대지 면적 47,430㎡</span>
                </li>
                <li>
                    <strong>부대시설</strong>
                    <span>물놀이터, 세척실</span>
                </li>
                <li>
                    <strong>공용 샤워실 여부</strong>
                    <span>있음</span>
                </li>
            </ul>
        </div>
    </div>
</body>