
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }

    body{
        height:600px;
        background-image: url('static/detail/02.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }

</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-1 ">
                    낙강물길공원
                    <small class="display-6 text-muted">경북 / 안동시</small>
                </h1>
                <h5>
                   한국의 지베르니라고 불리는 낙강물길공원은 안동 비밀의 숲이라고도 불린다.
                </h5>

                <p>호수를 바라보며 즐기는 혼크닉은 어느 카페 부럽지 않다. 곳곳에 숨어있는 포토존에서 사진을 찍으면 마치 모네가 된 듯한 환상을 가져다준다. 숲속 쉼터를 지나 조금만 더 오르면 안동루로 오르는 계단을 만날 수 있고, 그곳에서는 안동댐을 한눈에 내려다볼 수 있다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>문의 및 안내</strong>
                    <span class="mo">
                        <a href="tel:  054-852-6800">안동시 관광문의 054-840-3433</a>
                    </span>
                    <br>
                    <span class="pc">경상북도 종합관광안내소 054-852-6800</span>
                </li>
                <li>
                    <strong>홈페이지</strong>
                    <span>
                        안동 문화관광 
                        <a href="https://www.tourandong.com/public/" target="_blank" title="새창 : 안동 문화관광 홈페이지로 이동">https://www.tourandong.com/public/</a>
                        <br/>
                        경북나드리 
                        <a href="http://tour.gb.go.kr/travel/cultureView.do?idx=16615" target="_blank" title="새창 : 경북나드리 홈페이지로 이동">http://tour.gb.go.kr/</a>
                    </span>
                </li>
                <li>
                    <strong>주소</strong>
                    <span>경상북도 안동시 상아동 423</span>
                </li>
                <li>
                    <strong>이용시간</strong>
                    <span>00:00~24:00</span>
                </li>
                <li>
                    <strong>휴일</strong>
                    <span>연중개방</span>
                </li>
                <li>
                    <strong>주차</strong>
                    <span>주차가능</span>
                </li>
                <li>
                    <strong>입 장 료</strong>
                    <span>무료</span>
                </li>
                <li>
                    <strong>출입통로</strong>
                    <span>주출입구는 턱이 없어 휠체어 접근 가능함</span>
                </li>
                <li>
                    <strong>장애인 주차 안내</strong>
                    <span></span>
                </li>
                <li>
                    <strong>접근로</strong>
                    <span>출입구까지 턱이 없어 휠체어 접근 가능함</span>
                </li>
                <li>
                    <strong>화장실</strong>
                    <span>장애인 화장실 있음_무장애 편의시설</span>
                </li>
            </ul>                
        </div>
    </div>
</body>