
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }

    body{
        height:600px;
        background-image: url('static/detail/11.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }
</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-1 ">
                    석모도
                    <small class="display-6 text-muted">인천광역시 / 강화군</small>
                </h1>
                <h5>
                    석모도는 강화군 외포항에서 서쪽으로 1.2km 떨어진 섬이다
                </h5>

                <p>수도권 시민들에게 휴식처로 널리 알려진 유명한 관광지며,한반도와 강화도 섬을 잇는 강화대교와 초지대교 덕분에 아이들과 함께 나들이 떠나기 좋은 곳으로 찾는 이들이 많다. 석모도는 면적 42.841km2, 해안선 길이 41.8km이고, 최고점은 상봉산(上峰山, 316m)이다. 해명산(309m), 낙가산(267m), 상봉산(316m) 등 높은 산이 연결되어 있으며, 1,138가구 2,216명의 주민이 살고 있다.* 민머루해변 : 백사장 길이가 1KM인 석모도의 유일한 해변으로 해수욕은 물론 생태계가 잘 보존되어 갯벌체험이 가능하다. 또한 석양이 아름다워서 사진을 찍으려는 사람들도 즐겨 찾는다. 해변가에서 캠핑이 가능하며, 인근에 어류정항, 장구너머항 등이 있어 배를 타고 바다낚시를 즐길 수 있다.* 보문사 : 대한불교조계종 소속 사찰이자 우리나라 3대 관음성지로, 신라선덕여왕 때에 창건되었다고 전해진다. 내부에는 3000불이 모셔져 있으며, 보문사석실, 극락보전 등이 유명하다. 특히 눈썹바위의 마애석불좌상에서 보는 서해의 석양이 일품이다.* 유니아일랜드 : 옛 폐염전 자리 76만제곱미터에 18홀의 골프장인 유니아일랜드는  2019.3.11 개장하여 수도권의 골프인들이 쉽게 찾을 수 있도록 퍼블릭 골프장으로 운영하고 있다.* 해수 온천 :  칼슘, 칼륨, 마그네슘등의 풍부하게 함유되어 있으며, 석양을 바라보며 온천을 즐길 수 있는 석모도 미네랄 온천체험을 할 수 있다. 족욕은 무료다.* 석모도 자연휴양림 : 상봉산자락의 인천유일한 휴양림으로으로 콘도형태인 산림문화휴양관, 통나무 독체형태인 숲속의집, 그리고 수목원으로 구성되어 있다. 나무와 꽃의 이름과 특성을 들려주는 숲 해설 및 목공체험을 할 수 있다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>문의 및 안내</strong>
                    <span class="mo"><a href="tel:032-934-7500">032-934-7500</a></span>
                </li>
                <li>
                    <strong>홈페이지</strong>
                    <span><a href="http://www.ganghwa.go.kr/open_content/tour/around/seokmodo.jsp" target="_blank" title="새창: 강화 문화관광 홈페이지로 이동">http://www.ganghwa.go.kr/open_content/tour/around/seokmodo.jsp</a></span>
                </li>
                <li>
                    <strong>주소</strong>
                    <span>인천광역시 강화군 삼산면 삼산북로 9</span>
                </li>
            </ul>
        </div>
        </div>
    </div>
</body>