
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }

    body{
        height:600px;
        background-image: url('static/detail/03.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }

</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-1 ">
                    송도 센트럴파크
                    <br><small class="display-6 text-muted">인천광역시 / 연수구</small>
                </h1>
                <h5>
                    바다를 메워 만든 인공 섬 송도는 도회적인 이미지의 상징이 되었다. 
                </h5>

                <p>휘황찬란한 마천루는 저마다 디자인과 도시경관 등 엄격한 심사를 거쳐 건축 허가를 얻고 지어진 건물에서 기인한다. 건축물 자체가 하나의 작품처럼 보이는 이유도 그 때문이다. 송도에 대한 첫인상은 대개 미래 도시에 온 것 같다는 것으로 통한다. 송도의 상징이 된 트라이보울 공연장을 중심으로 현대 건축의 정수를 몸소 증언하는 건축물이 분포한다. 워터프론트아암호수가 한편을 가로지르며, 호수 주변으로 공원과 도로가 기세 좋게 뻗었다. 송도 센트럴파크역 인근에 자리한 5성급 한옥호텔 ‘경원재’ 역시 송도의 멋스러운 풍경에 절묘하게 어우러진다. 비즈니스 지역과 거주 지역, 공원과 레저 시설 등 도시 곳곳에서 문화와 예술을 충만하게 느끼고 경험하는, 꿈꾸던 도시의 미래가 거기 있다. - 선셋정원센트럴파크의 서쪽 끝에 자리한 선셋정원은 웨스트보트하우스, 수변무대, 어린이 정원, 큐브 조형물 등의 볼거리로 이루어진 휴식공간입니다.- 감성정원감성 정원은 세계 120개 나라를 상징하는 탈로 만든 작품인 지구촌의 얼굴을 비롯하여 관찰데크, 간석 지원 등의 시설로 이루어진 경관 관찰 공간입니다.- 초지원초지원은 오줌싸개동상, 관찰데크, 습지원, 반딧불이 집 등 다양한 조형물과 공공미술작품을 감상할 수 있는 복합 예술 공간입니다.- 산책정원산책 정원은 한가로이 풀을 뜯는 꽃사슴을 만날 수 있는 전통 테마 공간입니다. 산책정원 동쪽 높은 곳에 위치한 송화정은 달빛과 함께 한 폭의 그림 같은 야경을 선사해 줍니다.- 테라스정원UN 광장, 이스트보트하우스, 민속놀이마당 등이 위치한 테라스 정원은 연중 다양한 행사가 열리는 문화 예술 공간입니다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>문의 및 안내</strong>
                    <span class="mo">
                        <a href="tel:032-837-4753">032-837-4753</a>
                    </span>
                    <span class="pc">032-837-4753</span>
                </li>
                <li>
                    <strong>홈페이지</strong>
                    <span><a href="http://www.insiseol.or.kr/institution_guidance/central_park/sub/introduce01.asp" target="_blank" title="새창: 인천광역시 시설공단 홈페이지로 이동">http://www.insiseol.or.kr</a></span>
                </li>
                <li>
                    <strong>주소</strong>
                    <span>인천광역시 연수구 컨벤시아대로 160</span>
                </li>
                <li>
                    <strong>이용시간</strong>
                    <span>평일 10:00 - 19:00<br/> 주말 10:00 - 21:00</span>
                </li>
                <li>
                    <strong>주차</strong>
                    <span>지하주차장</span>
                </li>
                <li>
                    <strong>시설이용료</strong>
                    <span>달빛공원 다목적운동장, 달빛축제공원 보조공원장(실내체육시설), 달빛공원 풋살경기장, 달빛공원 리틀야구장, 영상 및 사진촬영 등 유료 (30,000~400,000원)</span>
                </li>
                <li>
                    <strong>입 장 료</strong>
                    <span>무료</span>
                </li>
                <li>
                    <strong>점자블록</strong>
                    <span>점자블록 있음(화장실, 엘리베이터)_시각장애인 편의시설</span>
                </li>
                <li>
                    <strong>엘리베이터</strong>
                    <span>엘리베이터 있음(주차장에서 외부로 나가는 엘리베이터)</span>
                </li>
                <li>
                    <strong>출입통로</strong>
                    <span>주출입구는 턱이 없어 휠체어 접근 가능함</span>
                </li>
                <li>
                    <strong>장애인 주차 안내</strong>
                    <span>장애인 주차장 있음(지하주차장,장애인표지판)_무장애 편의시설</span>
                </li>
                <li>
                    <strong>접근로</strong>
                    <span>출입구까지 턱이 없어 휠체어 접근 가능함</span>
                </li>
                <li>
                    <strong>화장실</strong>
                    <span>장애인 전용 화장실 있음</span>
                </li>
            </ul>
        </div>
        </div>
    </div>
</body>