
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }
    body{
        height:600px;
        background-image: url('static/detail/01.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }

</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-1 ">
                    서산호텔
                    <small class="display-6 text-muted">충남 / 서산시</small>
                </h1>
                <h5>
                    서산호텔은 이 지역에서 오랫동안 사랑받아온 호텔이다. 
                </h5>

                <p>서산호텔은 이 지역에서 오랫동안 사랑받아온 호텔이다. 오래되었지만 꼼꼼한 관리로 쾌적하고 깨끗한 시설을 유지하고 있다. 무엇보다 가성비가 훌륭하다. 객실은 일인실, 일반실, 일반실 트윈, 트리플, 특실 등으로 구성된다. 싱글베드가 놓인 일인실은 1명을 위한 방이지만 일반 호텔 더블룸 규모의 공간이다. 싱글베드 3개를 갖춘 트리플룸은 3인 가족에게 적합하다. 싱글베드 3개와 더블베드 1개가 있는 특실은 넉넉한 공간, 아늑한 조명, 장식장, 고가구 등으로 특별하다. 서산호텔은 1호광장 교차로 인근에 위치하며, 서산시청까지 약 400m, 중앙호수공원까지 약 600m 거리다. 서산공용버스터미널에서 차로 3분이면 도착할 수 있어 대중교통 이용도 편리하다. 수선화가 아름다운 서산유기방가옥까지 약 20분, 조선시대 평지에 쌓아올린 석축이 고스란히 남아있는 해미읍성까지 약 20분 정도 걸린다. 벌천포해수욕장·대산항·삼길포항까지 약 40분, 서산버드랜드·간월도 역시 약 40분 거리다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>문의 및 안내</strong>
                    <span class="mo"><a href="tel:041-664-4413">041-664-4413</a></span>
                    </li>
                    <li>
                        <strong>홈페이지</strong>
                        <span><a href="https://blog.naver.com/eok0777" target="_blank" title="새창 : 서산호텔 홈페이지로 이동">https://blog.naver.com/eok0777</a></span>
                    </li>
                    <li>
                        <strong>주소</strong>
                        <span>충청남도 서산시 관아문길 34</span>
                    </li>
                    <li>
                        <strong>주차</strong>
                        <span>가능(35대)</span>
                    </li>
                    <li>
                        <strong>수용인원</strong>
                        <span>95명</span>
                    </li>
                    <li>
                        <strong>입실시간</strong>
                        <span>13:00</span>
                    </li>
                    <li>
                        <strong>퇴실시간</strong>
                        <span>11:00</span>
                    </li>
                    <li>
                        <strong>객실내 취사 여부</strong>
                        <span>불가</span>
                    </li>
                    <li>
                        <strong>식음료장</strong>
                        <span>없음(준비 중)</span>
                    </li>
                    <li>
                        <strong>픽업서비스</strong>
                        <span>가능(요청 시)</span>
                    </li>
                    <li>
                        <strong>객실수</strong>
                        <span>36실</span>
                    </li>
                    <li>
                        <strong>예약안내</strong>
                        <span>041-664-4413</span>
                    </li>
                    <li>
                        <strong>규모</strong>
                        <span>지하 1층~지상 6층 (2770.3m²)</span>
                    </li>
                    <li>
                        <strong>부대시설</strong>
                        <span>세탁실(무료 사용 가능)</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>