{% extends "base.html" %}
{% block title %}수선사{% endblock %}
{% block content %}
<meta charset="UTF-8" style="user-select: auto;">
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" style="user-select: auto;">
<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
<style style="user-select: auto;">
.nu{font-family: 'NanumSquareLight';}
.ns{font-family: 'NanumSquare';}
.nb{font-family: 'NanumSquareBold';}
.neb{font-family: 'NanumSquareExtraBold';}
.na{font-family: 'NanumSquareAcb';}
.nsa{font-family: 'NanumSquareAceb';}
.nasl{font-family: 'NanumSquareAcl';}
.nasr{font-family: 'NanumSquareAcr';}
.ss{font-family: 'Spoqa Han Sans Neo', 'sans-serif';}

</style>
<span>
</span>
{% include "detail09_1.html" %}
{% endblock %}
