
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }

    body{
        height:600px;
        background-image: url('static/detail/08.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }
</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-1 ">
                    송계헌
                    <small class="display-6 text-muted">경북 / 안동</small>
                </h1>
                <h5>
                    경북 안동의 병산서원에서 불과 500m 떨어진 곳에 위치한 한옥이다.
                </h5>

                <p> 병산서원은 유네스코 세계문화유산에 등재된 서원(조선 시대에 선비들이 모여서 학문을 강론하고 옛 석학이나 충절로 죽은 사람을 제사 지내던 곳) 중 하나로, 자연과 어우러진 풍광이 유독 아름다워 서원 건축의 백미라는 찬사를 받는다. 송계헌 역시 숙소 앞에 낙동강이 흐르고 뒤에는 330m 높이의 산이 감싸 자연과 하나 되는 한옥 특유의 멋을 느낄 수 있다.송계헌(松溪軒)은 소나무를 좋아해 소나무로 집을 짓고 사는 숙소 주인이 지은 이름이다. 집 전체를 단독으로 사용할 수 있어 가족이나 모임 단위 여행객에게 특히 반응이 좋다. 팔작지붕을 인 송계헌은 전통 한옥 구조를 충실히 따랐지만, 내부는 현대식 시설을 갖춰 머무르는 데 불편함이 없다. 실내는 입식과 좌식이 공존하는 형태다. 3개 침실 중 한 방에는 퀸 사이즈 침대가 놓여 있고, 나머지 두 방에는 포근한 요와 이불이 제공된다. 높다란 천장에 서까래가 드러난 공용 공간은 여러 명이 어울리기에도 넉넉한 크기다. 주방에는 냉장고, 가스레인지, 전자레인지, 각종 조리도구 등이 준비돼 있어 요리를 하기에 불편함이 없다. 안동 지역 곳곳을 상세히 안내해주는 주인의 친절함도 인상 깊다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>주소</strong>
                    <span>경상북도 안동시 풍천면 병산길 332</span>
                </li>
                <li>
                    <strong>주차</strong>
                    <span>가능(4대)</span>
                </li>
                <li>
                    <strong>수용인원</strong>
                    <span>16명</span>
                </li>
                <li>
                    <strong>입실시간</strong>
                    <span>15:00</span>
                </li>
                <li>
                    <strong>퇴실시간</strong>
                    <span>11:00</span>
                </li>
                <li>
                    <strong>객실내 취사 여부</strong>
                    <span>가능</span>
                </li>
                <li>
                    <strong>식음료장</strong>
                    <span>없음</span>
                </li>
                <li>
                    <strong>픽업서비스</strong>
                    <span>불가</span>
                </li>
                <li>
                    <strong>객실수</strong>
                    <span>1실</span>
                </li>
                <li>
                    <strong>예약안내</strong>
                    <span>홈페이지</span>
                </li>
                <li>
                    <strong>예약안내 홈페이지</strong>
                    <span><a href='https://www.airbnb.co.kr/rooms/35882616"' target="_blank" title="새창 :송계헌 홈페이지로 이동">www.airbnb.co.kr/rooms/35882616</a></span>
                </li>
                <li>
                    <strong>객실유형</strong>
                    <span>독채</span>
                </li>
                <li>
                    <strong>규모</strong>
                    <span>지상 1층(대지 면적 462.8m², 건평85.95m²)</span>
                </li>
            </ul>
        </div>
    </div>
</body>