
<style type="text/css">
    h5{
      font-family : 'NanumSquareBold';
    }
    p {
      font-family : 'NanumSquareAcr';
    }

    body{
        height:600px;
        background-image: url('static/detail/07.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    span{
        font-family : 'NanumSquareLight'
    }
    strong{
        font-family : 'NanumSquareBold';
    }
</style>
<body>
    <div class="container">
        <div class="row align-items-start" style="height: 570px;">
        </div>
        <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <br><br>
                <h1 class="display-1 ">
                    등기산스카이워크
                    <br>
                    <small class="display-6 text-muted">경북 / 울진군</small>
                </h1>
                <h5>
                </h5>
                <p>등기산 스카이워크는 20m의 높이에 135m의 길이로 조성된 곳으로 그중 57m의 강화유리 바닥 구간은 스릴을 즐기기에 매우 좋다. 또한 탁 트인 풍경은 숨 쉴 틈이 필요할 때 방문하기에 적격이다. 시원한 에메랄드빛 바다와 파도소리는 머리와 가슴을 후련하게 해준다. 개방시간은 9시부터 6시까지 관람이 가능하며, 비나 눈 혹은 강풍이 부는 날에는 오픈하지 않는다.</p>
            </div>
        </div>
        <div class="col">
            <ul>
                <li>
                    <strong>문의 및 안내</strong>
                    <span class="mo"><a href="tel:054-789-5861">054-789-5861</a></span>
                </li>
                <li>
                    <strong>홈페이지</strong
                        <span><a href="http://www.uljin.go.kr/tour/board/view.uljin?boardId=BBS_ATTRACTION_TU&amp;menuCd=DOM_000000202001000000&amp;orderBy=REGISTER_DATE%20DESC&amp;paging=ok&amp;startPage=1&amp;searchType=DATA_TITLE&amp;searchOperation=AND&amp;keyword=%EC%8A%A4%EC%B9%B4%EC%9D%B4&amp;dataSid=162193" target="_blank" title="새창: 울진문화관광">http://www.uljin.go.kr/tour/index.uljin</a></span>
                    </li>
                    <li>
                        <strong>주소</strong>
                        <span>경상북도 울진군 후포면</span>
                    </li>
                    <li>
                        <strong>이용시간</strong>
                        <span>09:00 ~ 18:00<br>운영시간은 변동될 수 있으므로 방문 전 홈페이지 확인 필요</span>
                    </li>
                    <li>
                        <strong>휴일</strong>
                        <span>매주 월요일 휴무</span>
                    </li>
                </ul>
        </div>
        </div>
    </div>
</body>