<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <style style="user-select: auto;">
  .nu{font-family: 'NanumSquareLight';}
  .ns{font-family: 'NanumSquare';}
  .nb{font-family: 'NanumSquareBold';}
  .neb{font-family: 'NanumSquareExtraBold';}
  .na{font-family: 'NanumSquareAcb';}
  .nsa{font-family: 'NanumSquareAceb';}
  .nasl{font-family: 'NanumSquareAcl';}
  .nasr{font-family: 'NanumSquareAcr';}
  .ss{font-family: 'Spoqa Han Sans Neo', 'sans-serif';}
  </style>
  <style>
    a{
      font-family:'paybooc Medium';
    }
  </style>
  <div class="container-fluid">
    <a class="navbar-brand" href="...">           </a>
    <a class="navbar-brand" href="/">두근두근 언택트</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/dest11">여행지 전체</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accom">숙소 전체</a>
        </li>
        <li>
          <a class="nav-link" href="/map_case">여행지 숙소 위치</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list">여행 후기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/memcreate">후기 이벤트 신청란</a>
        </li>
      </ul>
    </div>
  </div>
</nav>